APP_PORT=8080
APP_ENV=production

DB_USER=moneyuser
DB_PASSWORD=moneypass
DB_NAME=moneymanager

# Wajib diisi — minimal 32 karakter random
JWT_SECRET=ganti-ini-dengan-string-random-minimal-32-karakter
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=168h
